.Error {
    height: 100vh;
    width: 100vw;
  }
  
  video {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
  .Message {
    position: absolute;
    width: 90%;
    height: 90%;
    top: 100px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(233, 7, 7);
  }
  .Shadow {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    /* background-color: #000000cc */
} 
  