.Home {
  height: 100vh;
  width: 100vw;
}

video {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.Text {
  position: absolute;
  width: 90%;
  height: 90%;
  top: 100px;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: azure;
}
.Overlay {
  position: absolute;
  top: 100px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  /* background-color: #000000cc */
}
