nav{
border  : 1px solid black;
padding: 2em 0;
text-align: center;
background-color: var(--header);
display: flex;
/* flex-direction: column; */
align-items: center;
justify-content: space-evenly;
}
nav a {
    text-decoration: none;
    color: black;
} 

.Account-Home img{
height: 20px;
width: auto;
}

.NewTransaction{
    /* margin-top: 1em; */
}