nav{
border  : 1px solid rgb(6, 42, 41);
padding: 2em 0;
text-align: center;
background-color: #3b6896;
/* background-color: black; */
display: flex;
align-items: center;
justify-content: space-evenly;


}
nav a {
    text-decoration: none;
    color: black;
} 

.Account-Home img{
height: 20px;
width: auto;
}

nav button{
    display: inline-block;
  text-decoration: none;
  color: inherit;
  background: whitesmoke;
  font-family: "Simonetta", cursive;
  padding: 10px 30px;
  letter-spacing: 1.5px;
  transition: 0.5s;
  margin:10px;

  text-transform: uppercase;
}
nav button:hover{
    letter-spacing: 0.2em;
}
