.Navigations{
border  : 1px solid black;
padding: 2em 0;
text-align: center;
background-color: var(--header);
display: flex;
justify-content: center;
}

.Account-Home img{
height: 20px;
width: auto;
}

.NewTransaction{
    margin-top: 1em;
}