input /* [type=text]  */{
    /* width: 90vw; */
    padding: 12px 20px;
    margin: 10px 0 ;
    /* box-sizing: border-box; */
  }
  input:hover{
color: rgba #85bb65;
  }
  .NewTransaction-Container{
    display:flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    
  }
  .new-submit{
    text-transform: uppercase;
    padding: 10px;
   margin: 8px;
  }
  .new-submit:hover{
color:#85bb65;
  } 
  .new-back{
margin:10px;
  }
  .New-Select{
    padding:8px;
margin: 10px; 
 margin-left: 5px;
  }