.Transaction-Show {
  text-decoration: none;
  width: 100vw;
bottom: 0;
  margin: 10px 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
 
}



.Transaction-Show a :hover {
  font-weight: bold;
  color:rgb(59,104,150);
  cursor: pointer;
} 
.Transaction-Show a {
  text-decoration: none;
  color: black;
  border: none;
  background: none;
} 
table {
    border-collapse: collapse;
    
  }
  
  td, th {
   
    border: 1px solid #999;
    padding: 0.5rem;
    text-align: left;
    width: 100px;
   
  }
  td{
    background-color: rgb(232, 238, 238);
  }
  
 
  th{
    background-color: grey;

}
.IndexButton{
    /* background-color: rgb(156, 13, 13); */
    border: none;
    background-color: transparent;
    padding-bottom: 10px;
  
}
 