/* .Transaction-Show {
  text-decoration: none;
  border: 2px solid black;
  display: flex;
  justify-content: space-between;
}
 */
.Transaction-Show a :hover {
  text-decoration: none;
  color: green;
} 
.Transaction-Show a {
  text-decoration: none;
  color: black;
  border: none;
  background: none;
} 
table {
    border-collapse: collapse;
    
  }
  
  td, th {
   
    border: 1px solid #999;
    padding: 0.5rem;
    text-align: left;
    width: 100px;
   
  }
  
 
  th{
    background-color: grey;

}
 /* .TableId {
  
  width: 100px;
 }
 

  .TableHead{
    width: 100px;
  } */